In [27]:
from google.colab import files
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import xgboost as xgb
from sklearn.tree import DecisionTreeRegressor  
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error,mean_squared_log_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV

# Polynomial regression 
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline


# files.upload()

In [2]:
df=pd.read_csv('train.csv')
del df['casual']
del df['registered']
df['datetime']=pd.to_datetime(df['datetime'])
df['date']=df.datetime.dt.date
df['year']=df.datetime.dt.year
df['month']=df.datetime.dt.month
df['dayofweek']=df.datetime.dt.dayofweek
df['hour']=df.datetime.dt.hour
df['minute']=df.datetime.dt.minute
df=df[['year','month','dayofweek','hour','minute','season', 'holiday', 'workingday', 'weather', 'temp','atemp', 'humidity', 'windspeed', 'count']]
label=df['count']
del df['count']
df

       year  month  dayofweek  hour  ...   temp   atemp  humidity  windspeed
0      2011      1          5     0  ...   9.84  14.395        81     0.0000
1      2011      1          5     1  ...   9.02  13.635        80     0.0000
2      2011      1          5     2  ...   9.02  13.635        80     0.0000
3      2011      1          5     3  ...   9.84  14.395        75     0.0000
4      2011      1          5     4  ...   9.84  14.395        75     0.0000
...     ...    ...        ...   ...  ...    ...     ...       ...        ...
10881  2012     12          2    19  ...  15.58  19.695        50    26.0027
10882  2012     12          2    20  ...  14.76  17.425        57    15.0013
10883  2012     12          2    21  ...  13.94  15.910        61    15.0013
10884  2012     12          2    22  ...  13.94  17.425        61     6.0032
10885  2012     12          2    23  ...  13.12  16.665        66     8.9981

[10886 rows x 13 columns]

In [4]:
# df=df.set_index('datetime')
# df.resample('MS')['count'].sum().plot()

x_train,x_test,y_train,y_test=train_test_split (df,label,test_size=0.05)

In [38]:
# Decision Tree

clf = DecisionTreeRegressor(ccp_alpha=0.0, criterion='mae', max_depth=10,
                      max_features=13, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=4,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

# params = {'min_samples_leaf': range(1,20)),
#               'min_samples_split':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0],
#           }

# grid=GridSearchCV(clf,params)
# grid.fit(x_train,y_train)
# grid.best_estimator_
clf.fit(x_train,y_train) 

y_predict=clf.predict(x_test)
y_train_predict=clf.predict(x_train)

print("RMSE: " ,np.sqrt(mean_squared_error(y_test,y_predict)))
print("RMSLE: " , np.sqrt(mean_squared_log_error(y_test,y_predict)))

RMSE:  63.96683845570569
RMSLE:  0.3797284500721226

In [39]:
# Random Forest
 
# params = {'n_estimators': [50,500,800,1500,2000], 
#           'max_features': ['auto', 'sqrt'],
#           'max_depth': [10,20,30,40,50], 
#           'min_samples_split': [2, 5, 10],
#           'min_samples_leaf': [1, 2, 4,15], 
#           'bootstrap': [True, False]
#           }

# grid=RandomizedSearchCV(RandomForestRegressor(),params)
# grid.fit(x_train,y_train)
# grid.best_estimator_

clf= grid.best_estimator_
clf.fit(x_train,y_train)

y_predict=clf.predict(x_test)
y_train_predict=clf.predict(x_train)

print("RMSE: " ,np.sqrt(mean_squared_error(y_test,y_predict)))
print("RMSLE: " , np.sqrt(mean_squared_log_error(y_test,y_predict)))

RMSE:  52.89885558641006
RMSLE:  0.3339371646747558